<header>
  <div class="container">
    <a href="/" class="logo"> WebSoccer</a>
    <nav>
      <ul>
        <li *ngIf="!isAuth">
          <a href="/login">Login</a>
        </li>
        <li class="menu-container" *ngIf="isAuth">
          <a href="/dashboard">{{user.name}}</a>
          <div class="menu">
            <a href="/profile">Profile</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>
        <li class="menu-container team" *ngIf="isAuth">
          <a href="/squad">Team</a>
          <div class="menu">
            <a href="/squad">Squad</a>
            <a>Formation</a>
            <a>Training</a>
            <a>Scouting</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>