<div *ngIf="player" class="player-card" (click)="selectPlayer()">
  <div class="general">
    <div class="title">
      <div class="player-image" [ngClass]="{'injured': player.isInjured}">
        <img class="avatar" src="{{avatarUrl}}" alt="avatar">
        <div class="injury-box" *ngIf="player.isInjured">
          <svg class="injury" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M11.75 4.5a.75.75 0 0 1 .75.75V11h5.75a.75.75 0 0 1 0 1.5H12.5v5.75a.75.75 0 0 1-1.5 0V12.5H5.25a.75.75 0 0 1 0-1.5H11V5.25a.75.75 0 0 1 .75-.75Z"></path></svg>
        </div>
      </div>
      <div class="playe-details">
        <h3>{{ player.name }}</h3>
        <div class="detail">Age: {{ player.age }}</div>
        <div class="detail">Position: {{ player.position }}</div>
        <div class="detail">Overall Rating: {{ player.overallRating }}</div>
      </div>
      <app-skills-view [skills]="generalSkills"></app-skills-view>
    </div>
    <div class="icon">
      <i class="fas fa-chevron-down" (click)="onChangeView()" [@expandCollapse]="isExpended ? 'collapsed' : 'expanded'"></i>
      <i class="fas fa-chevron-up" (click)="onChangeView()" [@expandCollapse]="isExpended ? 'expanded' : 'collapsed'"></i>
    </div>
  </div>
  <div class="divider" [@expandCollapse]="isExpended ? 'expanded' : 'collapsed'" [ngStyle]="{'margin': isExpended ? '5px 0 10px 0' : '0'}"></div>
  <div class="skills" [@expandCollapse]="isExpended ? 'expanded' : 'collapsed'" [ngStyle]="{'margin': isExpended ? '10px 0 0 0' : '0'}">
    <div class="col-one">
      <app-skills-view [title]="'Physical Attributes'" [skills]="physical"></app-skills-view>
      <app-skills-view [title]="'Mental Attributes'" [skills]="mental"></app-skills-view>
    </div>
    <div class="col-two">
      <app-skills-view [title]="'Technical Skills'" [skills]="technical"></app-skills-view>
      <app-skills-view [title]="'Defensive Attributes'" [skills]="defensive"></app-skills-view>
    </div>
  </div>
</div>
